.tabs.is-boxed li.is-active a {
    background-color: orange;
    color: black;
}

.is-icon {
    margin-left: 5px;
}

fieldset {
    border: 1px solid royalblue;
    border-radius: 5px;
    padding: 5px;
}

legend {
    color: orange;
}